<p class="profile-title text-center">My Profile</h1>
<div class="new-profile-form">
  <div class="new-profile-form-container">
  <% if @user.profile == nil %>
      <p class="profile-subtitle">You don't have a profile - create one now!</p>
      <%= form_with model: @profile, local: true  do |form| %>
        <div class="form-group-new">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control", placeholder: "Name"%>
        </div>

        <div class="form-group form-group-new">
          <%= form.label :phone_no %>
          <%= form.telephone_field :phone_no, class: "form-control", placeholder: "Phone"%>
        </div>

        <div class="form-group form-group-new">
          <%= form.label :street_number %>
          <%= form.text_field :street_number, class: "form-control", placeholder: "Street number" %>
        </div>

        <div class="form-group form-group-new">
          <%= form.label :street_address %>
          <%= form.text_field :street_address, class: "form-control", placeholder: "Street address" %>
        </div>

      <div class="form-group form-group-new">
        <%= form.label :suburb %>
        <%= form.text_field :suburb, class: "form-control", placeholder: "Suburb" %>
      </div>

      <div class="form-group form-group-new form-group-state">
      <%= form.label :state %>
        <%= form.select :state, "<option>New South Wales</option>Victoria<option>Queensland</option><option>Western Australia</option><option>South Australia</option><option>Tasmania</option><option>Australian Capital Territory</option><option>Northern Territory</option>".html_safe  %>
      </div>

      <div class="form-group form-group-new">
        <%= form.label :postcode %>
        <%= form.text_field :postcode, class: "form-control", placeholder: "Postcode" %>
      </div>

        <%#= form.text_field :category_ids, multiple: true %>
        <%= form.submit "Save", class: "btn btn-yellow" %>
      <% end %>
    <% elsif %>
      <p>Name:  <%= @user.profile.name %></p>
      <p>Phone Number:  <%= @user.profile.phone_no %></p>
      <p>Street Number: <%= @user.profile.street_number %></p>
      <p>Street Address:  <%= @user.profile.street_address %></p>
      <p>Suburb:  <%= @user.profile.suburb %></p>
      <p>Postcode:  <%= @user.profile.postcode %></p>
      <p>State: <%= @user.profile.state %></p>
      <%= link_to "Edit Profile", edit_profile_path(@profile) %>
    <% end %>

  </div>
</div>