<h1 class="profile-title sofia text-center">My Profile</h1>

  <% if @user.profile == nil %>
  
    <div class="new-profile-form">
    
      <div class="new-profile-form-container">
        <p class="profile-subtitle">You don't have a profile - create one now!</p>
        <%= form_with model: @profile, local: true  do |form| %>
        
          <div class="form-group-new">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control", placeholder: "Name"%>
          </div>

          <div class="form-group form-group-new">
            <%= form.label :phone_no %>
            <%= form.telephone_field :phone_no, class: "form-control", placeholder: "Phone"%>
          </div>

          <div class="form-group form-group-new">
            <%= form.label :street_number %>
            <%= form.text_field :street_number, class: "form-control", placeholder: "Street number" %>
          </div>

          <div class="form-group form-group-new">
            <%= form.label :street_address %>
            <%= form.text_field :street_address, class: "form-control", placeholder: "Street address" %>
          </div>

          <div class="form-group form-group-new">
            <%= form.label :suburb %>
            <%= form.text_field :suburb, class: "form-control", placeholder: "Suburb" %>
          </div>

        <div class="form-group form-group-new form-group-state">
          <%= form.label :state %>
          <%= form.select :state, "<option>New South Wales</option><option>Victoria</option><option>Queensland</option><option>Western Australia</option><option>South Australia</option><option>Tasmania</option><option>Australian Capital Territory</option><option>Northern Territory</option>".html_safe  %>
        </div>

        <div class="form-group form-group-new">
          <%= form.label :postcode %>
          <%= form.text_field :postcode, class: "form-control", placeholder: "Postcode" %>
        </div>

        <%#= form.text_field :category_ids, multiple: true %>
        <%= form.submit "Save", class: "btn btn-yellow" %>
      </div>  
    </div>    
  <% end %>
  <% elsif %>
  
  <div class="new-profile-form">
    <div class="profile-container">
      <div class="profile-card">
        <h5 class="profile-card-header"><%= @user.profile.name %></h5>
        
        <div class="card-body profile-card-body">
            
            <h5 class="profile-card-text">Address</h5>
            <p class="card-text"><%= @user.profile.street_number %> <%= @user.profile.street_address %></p> 
            <p class="card-text"><%= @user.profile.suburb %> </p>
            <p class="card-text"><%= @user.profile.state %> </p>
            <p class="card-text"><%= @user.profile.postcode %></p>

            <h5 class="profile-card-text">Phone</h5>
            <p class="card-text"><%= @user.profile.phone_no %></p>

            <div class="profile-button">
            <%= link_to "Edit Profile", edit_profile_path(@profile), class: "btn btn-yellow" %>
            <% end %>
            </div>

        </div>
      </div>
    </div>
</div>