<h1 class="profile-title text-center">My Profile</h1>
<div class="new-profile-form">

    <% if @user.profile == nil %>
      <h3>You haven't got a profile</h3>
      <h3>Create one now!</h3>
      <%= form_with model: @profile, local: true  do |form| %>
        <p><%= form.label :name %>
        <%= form.text_field :name %></p>
        <p><%= form.label :phone_no %>:
        <%= form.telephone_field :phone_no %></p>
        <p><%= form.label :street_number %>
        <%= form.text_field :street_number %>
        <p><%= form.label :street_address %>
        <%= form.text_field :street_address %></p>
        <p><%= form.label :suburb %>
        <%= form.text_field :suburb %></p>
        <%= form.label :state %>
        <%= form.select :state, "<option>New South Wales</option>Victoria<option>Queensland</option><option>Western Australia</option><option>South Australia</option><option>Tasmania</option><option>Australian Capital Territory</option><option>Northern Territory</option>".html_safe  %>
        <p><%= form.label :postcode %>
        <%= form.text_field :postcode %></p>
        <%#= form.text_field :category_ids, multiple: true %>
        <%= form.submit %>
      <% end %>
    <% elsif %>
      <div class="card">
            <h5 class="card-header"><%= @user.profile.name %></h5>
            
            <div class="card-body profile-card-body">

                <h5 class="card-title">Phone Number</h5>
                <p class="card-text"><%= @user.profile.phone_no %></p>
                
                <h5 class="card-title">Street Number</h5>
                <p class="card-text"> <%= @user.profile.street_number %></p>

                <h5 class="card-title">Street Address</h5>
                <p class="card-text"> <%= @user.profile.street_address %></p>

                <h5 class="card-title">Suburb</h5>
                <p class="card-text"> <%= @user.profile.suburb %></p>

                <h5 class="card-title">Postcode</h5>
                <p class="card-text"> <%= @user.profile.postcode %></p>

                <h5 class="card-title">State</h5>
                <p class="card-text"> <%= @user.profile.state %></p>

                <%= link_to "Edit Profile", edit_profile_path(@profile), class: "btn btn-yellow" %>
                <% end %>
            </div>
          </div>
  </div>