<div class="container signup-container">
  <p class="page-title">Resend confirmation instructions</p>
<div class="signup-page">
    <div class="signup-form">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group form-group-new">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: "btn btn-yellow" %>
        </div>
      <% end %>
    </div>
</div>
</div>

