<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Wishlist", root_path,  class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if user_signed_in? == false %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'My Products', new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'My Wishlists', new_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <%= link_to 'LOG IN', new_user_session_path, class: "btn btn-outline-success my-2 my-sm-0 skinny-button btn-sm" %>
        <%= link_to 'SIGN UP', new_user_registration_path, class: "btn btn-outline-success my-2 my-sm-0 skinny-button btn-sm" %>
      </form>
    </div>
  <% else %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'My Products', my_products_path, class: "dropdown-item" %>
            <%= link_to 'New Product', new_product_path, class: "dropdown-item" %>
            <%= link_to 'My Sales', my_sales_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Wishlists
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'My Wishlists', my_wishlists_path, class: "dropdown-item" %>
            <%= link_to 'New Wishlist', new_wishlist_path, class: "dropdown-item" %>
            <%= link_to 'Wishlist History', my_wishlist_history_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'My Profile', my_profile_path, class: "dropdown-item" %>
            <%= link_to 'Change My Password', edit_user_registration_path, class: "dropdown-item"  %>
            <%#= link_to 'My Products', my_products_path, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0" %>
      </form>
    </div>
  <% end %>
</nav>