
<p class="page-title">Sold Products</p> 
<% @user.products.order('created_at DESC').each do |product| %>
  <% if product.sold == true %>
    <div class="sold-products-container">
      <div class="product-show">
        <div class="product-show-details">
          <h3><%= product.name %></h3>
          <div class="description-box">
            <% description_array = product.description.split(".") %>
              <% description_array.each do |string| %>
                <p><%= string %></p>
              <% end %>
            </div>
            <% purchase = Purchase.find_by(product_id: product.id) %>
            <small class="date-purchased">Date Sold: <%= purchase.created_at.strftime("%d-%m-%Y") %></small>
            <h5 class="product-price">Price $<%= '%.2f' % product.price %></h5>
          </div>
          <div id="carousel-products" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% product.images.each.with_index(0) do |image, index| %>
                <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
                  <%= image_tag(image, class: 'd-block w-100 sizing') %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

