<h1>Wishlist History</h1>

<% @user.wishlists.each do |wishlist| %>
  <% if wishlist.completed == true %>
    <div class="field"><%= wishlist.name %></div>
    <div class="field"><%= wishlist.description %></div>
    <div class="field"><%= wishlist.price %></div>
  <% end %>
<% end %>

<h1>Purchases without wishlists</h1>
<% @purchases.each do |purchase| %>
  <% if purchase.buyer_id == @user.id && purchase.wishlist_id == nil%>
    <p><%= Product.find(purchase.buyer_id).name %></p>
    <p><%= Product.find(purchase.buyer_id).description %></p>
    <p><%= Product.find(purchase.buyer_id).price %></p>
  <% end %>
<% end %>