<div class="container signup-container">
  <p class="page-title">Forgot your password?</p>
  <div class="signup-page">
    <div class="signup-form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group form-group-new">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="actions">
            <%= f.submit "Send me instructions to reset my password", class: "btn btn-yellow"%>
          </div>
      <% end %>
      </div>
  </div>
</div>

<!-- <%= render "devise/shared/links" %> -->