<div class="banner-ad">
</div>
<h1 class="home text-center">All Products</h1>
<% if user_signed_in? == false %>
  <div class="row cards">
    <% @products.each do |product| %>
      <% if product.sold == false %>
        <div class="col-sm-3">
          <div class="card card2">
            <% product.images.each do |image| %>
              <%= image_tag image, class: "card-img-top thumbnail" %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title"><%= product.name %></h4>
              <p class="card-text">$<%= '%.2f' % product.price %></p>
              <%= link_to "Checkout Now", new_user_registration_path, class: "btn btn-success" %>
            </div>
          </div>
        </div>
      <% end %>
    <%end %>
  </div>
<% elsif user_signed_in? == true %>
  <div class="row cards">
    <% @products.each do |product| %>
      <% if product.sold == false && product.user_id != current_user.id%>
        <div class="col-sm-3">
          <div class="card card2">
            <% product.images.each do |image| %>
              <%= image_tag image, class: "card-img-top thumbnail" %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title"><%= product.name %></h4>
              <p class="card-text">$<%= '%.2f' % product.price %></p>
              <%= link_to "Checkout Now", purchase_no_wishlist_path(product), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <%end %>
  </div>
<% end %>

<div class="banner-ad2">
</div>




