<h1 class="home">Home#index</h1>

<% if user_signed_in? == false %>
  <% @products.each do |product| %>
    <% if product.sold == false %>
      <div>
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <p><%= '%.2f' % product.price %></p>
        <%= link_to "Checkout Now", new_user_registration_path %>
      </div>
    <% end %>
  <%end %>
<% elsif user_signed_in? == true %>
   <% @products.each do |product| %>
    <% if product.sold == false && product.user_id != current_user.id%>
      <div>
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <p><%= '%.2f' % product.price %></p>
        <%= link_to "Checkout Now", purchase_no_wishlist_path(product) %>
      </div>
    <% end %>
  <% end %>
<% end %>



