<div class="container signup-container">
  <p class="page-title">Log in</p>
  <div class="signup-page">
    <div class="signup-form login-page">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field top-field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "signup-input" %>
        </div>

        <div class="field form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "signup-input" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions signup-button">
          <%= f.submit "Log in", class: "btn my-2 my-sm-0 skinny-button btn-yellow" %>
        </div>
      <% end %>
    </div>
    <div class="or-box">
      <div class="or">
        <hr class="signup-line">
        <p>OR</p>
        <hr class="signup-line">
      </div>
    </div>
    <div class="login">
      <%= link_to "Sign up", new_user_registration_path, class: "btn my-2 my-sm-0 btn-lg btn-yellow btn-login" %>
    </div>
  </div> 
  <div class="bottom">
    <%= render "devise/shared/links" %>
  </div>

</div>  
