<h1>Edit Your Wishlist</h1>

<%= form_with model: @wishlist, local: true  do |form| %>
  <div class="field"><%= form.label :name, "Wishlist Name" %>
  <%= form.text_field :name %></div><br><br>
  <div><%= form.label :description %>
  <%= form.text_area :description %></div><br><br>
  <div><%= form.label :price %> $
  <%= form.number_field(:price, min: 1.00, step: 0.01)%></div><br><br>
  <div class="field">
    <%= form.label :category_ids, "Categories" %>
    <%= form.select :category_ids,
      Category.all.map { |k| [k.name, k.id] },
                      { include_blank: true },
                      { :multiple => true, class: 'chosen-select' }
    %>
  </div>
  <%= form.submit %>
<% end %>