<h1>New Product</h1>

<%= form_with model: @product, local: true  do |form| %>
  <p><%= form.label :name %>
  <%= form.text_field :name %></p><br><br>
  <p><%= form.label :description %>
  <%= form.text_area :description %></p><br><br>
  <p><%= form.label :price %> $
  <%= form.number_field(:price, min: 1.00, step: 0.01)%></p><br><br>
  <%= form.file_field :images, multiple: true %><br>
 
  <%= form.label :category_ids %>
  <div class="field">
    <%= form.select :category_ids,
      Category.all.map { |k| [k.name, k.id] },
                      { include_blank: true },
                      { :multiple => true, class: 'chosen-select' }
    %>
  </div>
  <%= form.submit %>
<% end %>