<h1>Product Show</h1>

<p><%= link_to "Edit Product Details", edit_product_path(@product) %></p>
<p><%= link_to 'Delete Product', product_path(@product),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p>$<%= '%.2f' % @product.price %></p>
<% @product.images.each do |image| %>
  <%= image_tag image %>
<% end %>
<% @product.categories.each do |c| %>
  <p><%= c.name %></p>
<% end %>