<!DOCTYPE html>
<html>
  <head>
    <title>RailsMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js"> </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= render '/layouts/shared/navigation.html.erb' %>
    <%= render '/layouts/shared/messages.html.erb' %>
    <%= render "/layouts/shared/homepage_slider.html.erb" if current_page?(root_path) %>
    <%= render "/layouts/shared/homepage_separator.html.erb" if current_page?(root_path) %>
    <%= yield %>
    <%= render '/layouts/shared/bottom_nav.html.erb' %>
  </body>
</html>
